* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 1100px) {
  * {
    overflow-x: hidden;
  }
}

ul {
  list-style-type: none;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}

a {
  text-decoration: none;
}

:root {
  --shadow-color: #FF9E9E;
  --shadow-color-light: white;
}

.typing {
  color: aliceblue;
}

p::before {
  content: "> ";
}

p:nth-last-of-type(1)::after {
  content: "_";
  animation: underline .3s infinite alternate;
  -webkit-animation: underline .3s infinite alternate;
}

body {
  background-color: #07080d;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  height: 100vh;
  margin: 0px;
  overflow: hidden !important;
  overflow-y: hidden;
  overflow-x: hidden;
  display: -ms-grid;
  display: grid;
  grid-column: 2fr 0.5fr 4fr 1fr;
      grid-template-areas: "left middle right empty";
}

@media (max-width: 1100px) {
  body {
    display: block;
  }
}

.redRight {
  position: fixed;
  overflow: hidden;
  right: -1px;
  top: 0;
}

.redRight_rectangle {
  fill: #d12032b6;
}

p::before {
  content: none;
}

p:nth-last-of-type(1)::after {
  content: none;
  -webkit-animation: none;
          animation: none;
}

.center {
  width: 400px;
  height: 550px;
  position: relative;
  top: 5vh;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
}

.center_overflowWrapper {
  position: fixed;
  left: 70px;
  top: 500px;
}

.center_overflowWrapper_text {
  color: #ebebebf1;
  text-transform: uppercase;
  font-size: 35px;
  font-family: 'Tourney', sans-serif;
  -webkit-animation: neon 3s infinite;
          animation: neon 3s infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.center_overflowWrapper_text--education {
  display: none;
}

.center_overflowWrapper_text--aboutMe {
  display: none;
}

.center_overflowWrapper_text--contacts {
  display: none;
}

.center_overflowWrapper_text--experience {
  display: none;
}

.center_overflowWrapper_text--skills {
  display: none;
}

@media screen and (max-width: 1100px) {
  .center_overflowWrapper {
    display: none !important;
  }
}

.center_name {
  color: white;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 10px;
  display: inline-block;
  font-size: 40px;
  width: 400px;
  font-family: 'Tourney', sans-serif;
  -webkit-animation: glow 2500ms linear infinite 2000ms;
          animation: glow 2500ms linear infinite 2000ms;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.center_circle--inner {
  fill: none;
  stroke: #665d5c00;
  stroke-width: 2;
  position: absolute;
  -webkit-animation: forwards;
          animation: forwards;
  stroke-dasharray: 1 919;
  -webkit-animation-name: fillAnimationInner;
          animation-name: fillAnimationInner;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  top: 80px;
  left: 90px;
}

.center_circle--middle {
  fill: none;
  stroke: #665d5c00;
  stroke-width: 6;
  position: absolute;
  -webkit-animation: forwards;
          animation: forwards;
  stroke-dasharray: 1 919;
  -webkit-animation-name: fillAnimationMiddle;
          animation-name: fillAnimationMiddle;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  top: 40px;
  left: 50px;
}

.center_circle--outer {
  fill: none;
  stroke: #665d5c00;
  stroke-width: 3;
  position: absolute;
  stroke-dasharray: 1 919;
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
  top: 0px;
  left: 10px;
  -webkit-animation: fillAnimationOuter 5000ms forwards 2000ms;
          animation: fillAnimationOuter 5000ms forwards 2000ms;
}

.center_menu {
  position: fixed;
  z-index: +10;
  border-radius: 50%;
  border-color: #d12032;
  border-width: 2px;
  border-style: solid;
}

.center_menu--aboutMe {
  top: 450px;
  left: 50px;
  opacity: 0%;
  display: block;
  -webkit-animation: forwards;
          animation: forwards;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.center_menu--contacts {
  top: 450px;
  left: 115px;
  opacity: 0%;
  -webkit-animation: forwards;
          animation: forwards;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.center_menu--education {
  top: 450px;
  left: 180px;
  opacity: 0%;
  -webkit-animation: forwards;
          animation: forwards;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}

.center_menu--experience {
  top: 450px;
  left: 245px;
  opacity: 0%;
  -webkit-animation: forwards;
          animation: forwards;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

.center_menu--skills {
  top: 450px;
  left: 310px;
  opacity: 0%;
  -webkit-animation: forwards;
          animation: forwards;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
}

@media screen and (max-width: 1100px) {
  .center_menu {
    display: none !important;
  }
}

.center_image {
  fill: none;
  position: absolute;
  top: 0px;
  left: 10px;
  z-index: -1;
  border-radius: 50%;
  opacity: 0%;
  -webkit-animation: forwards;
          animation: forwards;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes fillAnimationMiddle {
  50% {
    stroke-dasharray: 25% 75%;
    stroke: #d1203234;
  }
  100% {
    stroke-dasharray: 120 20 2 20;
    stroke: #d120328c;
  }
}

@keyframes fillAnimationMiddle {
  50% {
    stroke-dasharray: 25% 75%;
    stroke: #d1203234;
  }
  100% {
    stroke-dasharray: 120 20 2 20;
    stroke: #d120328c;
  }
}

@-webkit-keyframes fillAnimationOuter {
  50% {
    stroke: #d1203213;
  }
  100% {
    stroke-dasharray: 800 120;
    stroke: #d1203259;
  }
}

@keyframes fillAnimationOuter {
  50% {
    stroke: #d1203213;
  }
  100% {
    stroke-dasharray: 800 120;
    stroke: #d1203259;
  }
}

@-webkit-keyframes fillAnimationInner {
  50% {
    stroke-dasharray: 320 600;
    stroke: #d1203250;
  }
  100% {
    stroke-dasharray: 20 5 2 5;
    stroke: #d1203254;
  }
}

@keyframes fillAnimationInner {
  50% {
    stroke-dasharray: 320 600;
    stroke: #d1203250;
  }
  100% {
    stroke-dasharray: 20 5 2 5;
    stroke: #d1203254;
  }
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 100%;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light), 0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light), 0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light), 0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light), 0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light), 0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}

@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light), 0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light), 0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light), 0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light), 0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light), 0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}

.invisiable {
  display: none !important;
}

.visiable {
  display: block !important;
}

@-webkit-keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

.message {
  position: fixed;
  bottom: 3%;
  left: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 400px;
}

@media screen and (min-width: 1100px) {
  .message {
    display: none !important;
  }
}

.message_text {
  margin: auto;
  line-height: 150%;
  text-shadow: none;
  text-align: center;
  color: white;
}

.message_text::before {
  content: none;
}

.message_text:nth-last-of-type(1)::after {
  content: none;
  -webkit-animation: none;
          animation: none;
}

.message_link {
  color: #d12032;
  text-transform: uppercase;
  margin-left: 30%;
}

.message_link:hover {
  color: blueviolet;
}

.message_line {
  display: block;
  width: 60%;
  border-top: 2px solid #d12032c9;
  margin-left: 20%;
}

.sections {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: right;
  width: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  opacity: 0%;
  -webkit-animation: forwards;
          animation: forwards;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

@media screen and (max-width: 1100px) {
  .sections {
    display: none !important;
  }
}

.sections_aboutMe {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sections_aboutMe_title {
  color: #d12032;
  font-size: 40px;
  margin-top: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.sections_aboutMe_text {
  color: #161616;
  margin-bottom: 20px;
  font-style: thin;
}

.sections_aboutMe_text::before {
  content: none;
}

.sections_aboutMe_text:nth-last-of-type(1)::after {
  content: none;
  -webkit-animation: none;
          animation: none;
}

.sections_aboutMe_line {
  display: block;
  width: 55%;
  border-top: 2px solid #d12032c9;
  margin-bottom: 20px;
}

.sections_contacts_title {
  color: #d12032;
  font-size: 40px;
  margin-top: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.sections_contacts_text {
  color: #171818;
  margin-bottom: 20px;
}

.sections_contacts_text::before {
  content: none;
}

.sections_contacts_text:nth-last-of-type(1)::after {
  content: none;
  -webkit-animation: none;
          animation: none;
}

.sections_contacts_line {
  display: block;
  width: 55%;
  border-top: 2px solid #d12032c9;
  margin-bottom: 20px;
}

.sections_skills {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sections_skills_title {
  color: #d12032;
  font-size: 40px;
  margin-top: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.sections_skills_text {
  color: aliceblue;
  margin-bottom: 20px;
}

.sections_skills_text::before {
  content: none;
}

.sections_skills_text:nth-last-of-type(1)::after {
  content: none;
  -webkit-animation: none;
          animation: none;
}

.sections_skills_line {
  display: block;
  width: 55%;
  border-top: 2px solid #d12032c9;
  margin-bottom: 20px;
}

.sections_skills_container {
  margin-top: 20px;
}

.sections_skills_container_icon {
  font-size: 18px;
}

.sections_skills_container_pl {
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 1fr 2fr 1fr 2fr 1fr 2fr;
      grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr;
      grid-template-areas: "item1 bar1" "disc1 disc1" "item2 bar2" "disc2 disc2" "item3 bar3" "disc3 disc3";
}

.sections_skills_container_pl_item {
  font-style: bold;
  font-weight: 900;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: left;
      justify-self: left;
}

.sections_skills_container_pl_item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: item1;
}

.sections_skills_container_pl_item2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: item2;
}

.sections_skills_container_pl_item3 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: item3;
}

.sections_skills_container_pl_bar {
  fill: none;
  stroke: #d12032;
  stroke-width: 2px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: left;
      justify-self: left;
}

.sections_skills_container_pl_bar1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: bar1;
}

.sections_skills_container_pl_bar2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: bar2;
}

.sections_skills_container_pl_bar3 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: bar3;
}

.sections_skills_container_pl_disc {
  color: #2f2f30;
  font-size: 14px;
  font-style: italic;
}

.sections_skills_container_pl_disc1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: disc1;
}

.sections_skills_container_pl_disc2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: disc2;
}

.sections_skills_container_pl_disc3 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: disc3;
}

.sections_experience {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sections_experience_title {
  color: #d12032;
  font-size: 40px;
  margin-top: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
}

.sections_experience_arrow--up {
  position: absolute;
  font-size: 25px;
  left: -50px;
  top: 300px;
}

.sections_experience_arrow--down {
  position: absolute;
  left: -50px;
  font-size: 25px;
  top: 350px;
}

.sections_experience_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 5fr;
      grid-template-columns: 2fr 5fr;
  -ms-grid-rows: 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr;
      grid-template-rows: 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr;
  gap: 0px 30px;
  max-height: 500px;
  overflow: hidden;
      grid-template-areas: "date1 name1" ". fos1"  "date2 name2" ". fos2"  "date3 name3" ". fos3" "date4 name4" ". fos4";
}

.sections_experience_grid_date {
  color: #121213;
  margin-top: 10px;
  font-style: bold;
  font-weight: 900;
  display: inline-block;
}

.sections_experience_grid_date--1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: date1;
}

.sections_experience_grid_date--2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: date2;
}

.sections_experience_grid_date--3 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: date3;
}

.sections_experience_grid_date--4 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: date4;
}

.sections_experience_grid_name {
  color: #d12032;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  display: inline-block;
}

.sections_experience_grid_name--1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name1;
}

.sections_experience_grid_name--2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: name2;
}

.sections_experience_grid_name--3 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: name3;
}

.sections_experience_grid_name--4 {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  grid-area: name4;
}

.sections_experience_grid_fos {
  color: rgba(26, 27, 27, 0.726);
  font-style: italic;
  margin-bottom: 5px;
  display: inline-block;
}

.sections_experience_grid_fos--1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: fos1;
}

.sections_experience_grid_fos--2 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: fos2;
}

.sections_experience_grid_fos--3 {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: fos3;
}

.sections_experience_grid_fos--4 {
  -ms-grid-row: 8;
  -ms-grid-column: 2;
  grid-area: fos4;
}

.sections_experience_text {
  color: aliceblue;
  margin-bottom: 20px;
}

.sections_experience_text::before {
  content: none;
}

.sections_experience_text:nth-last-of-type(1)::after {
  content: none;
  -webkit-animation: none;
          animation: none;
}

.sections_experience_line {
  display: block;
  width: 55%;
  border-top: 2px solid #d12032c9;
  margin-bottom: 20px;
}

.sections_education {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sections_education_title {
  color: #d12032;
  font-size: 40px;
  margin-top: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.sections_education_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 5fr;
      grid-template-columns: 2fr 5fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 30px;
      grid-template-areas: "date1 name1" ". fos1"  "date2 name2" ". fos2"  "date3 name3" ". fos3";
}

.sections_education_grid_date {
  color: #121213;
  margin-top: 10px;
  font-style: bold;
  font-weight: 900;
}

.sections_education_grid_date--1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: date1;
}

.sections_education_grid_date--2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: date2;
}

.sections_education_grid_date--3 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: date3;
}

.sections_education_grid_name {
  color: #d12032;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}

.sections_education_grid_name--1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name1;
}

.sections_education_grid_name--2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: name2;
}

.sections_education_grid_name--3 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: name3;
}

.sections_education_grid_fos {
  color: rgba(26, 27, 27, 0.726);
  font-style: italic;
  margin-bottom: 5px;
}

.sections_education_grid_fos--1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: fos1;
}

.sections_education_grid_fos--2 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: fos2;
}

.sections_education_grid_fos--3 {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: fos3;
}

.sections_education_text {
  color: aliceblue;
  margin-bottom: 20px;
}

.sections_education_text::before {
  content: none;
}

.sections_education_text:nth-last-of-type(1)::after {
  content: none;
  -webkit-animation: none;
          animation: none;
}

.sections_education_line {
  display: block;
  width: 55%;
  border-top: 2px solid #d12032c9;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  100% {
    opacity: 100%;
  }
}

i {
  color: #d12032;
  fill: #d12032;
  font-size: 20px;
  margin-right: 10px;
}

.whiteRight {
  position: fixed;
  overflow: hidden;
  left: 425px;
  top: 0;
  z-index: -20;
}

.whiteRight_rectangle {
  fill: #fdfdfd;
  z-index: -20;
}

.redLeft {
  position: fixed;
  overflow: hidden;
  left: 422px;
  top: 0;
  z-index: -25;
}

.redLeft_rectangle {
  fill: #d12032b6;
  z-index: -25;
}
/*# sourceMappingURL=main.css.map */