.message {
    align-content: center;
    justify-content: center;
    width: 400px;
    @media screen and (min-width:1100px) {
        display: none !important;
        }
    &_text {
    margin: auto;
    line-height: 150%;
    text-shadow: none;
    text-align: center;
    color: white;
    &::before {
        content:none;
    }
    &:nth-last-of-type(1)::after {
        content: none;
        animation: none;
        }
    }
    &_link {
        color: #ca0505;
        text-transform: uppercase;
        margin-left: 30%;
        &:hover {
            color: blueviolet;
        }
    }
    &_line {
        display:block;
        width:60%;
        border-top: 2px solid #ca0505c9;
        margin-left: 20%;
    }
}