.sections {
    grid-area: right;
    width: 400px;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 0%;
            animation: forwards;
            animation-name: fadeIn;
            animation-duration:7s;
            animation-delay: 8s;
    @media screen and (max-width:1100px) {
        display: none !important;
        }
    &_aboutMe {
        justify-content: center;
        &_title {
        color: #d12032;
        font-size: 40px;
        margin-top: 40px;
        text-transform: uppercase;
        margin-bottom: 20px;

        }
        &_text {
        color: rgb(22, 22, 22);
        margin-bottom: 20px;
        font-style: thin;
        &::before {
            content:none;
        }
        &:nth-last-of-type(1)::after {
            content: none;
            animation: none;
            }
        }
        &_line {
            display:block;
            width:55%;
            border-top: 2px solid #d12032c9;
            margin-bottom: 20px;
        
        }
    }
    &_contacts {
        &_title {
        color: #d12032;
        font-size: 40px;
        margin-top: 40px;
        text-transform: uppercase;
        margin-bottom: 20px;
        }
        &_text {
            color: rgb(23, 24, 24);
            margin-bottom: 20px;
            &::before {
                content:none;
            }
            &:nth-last-of-type(1)::after {
                content: none;
                animation: none;
                }
            }
            &_line {
                display:block;
                width:55%;
                border-top: 2px solid #d12032c9;
                margin-bottom: 20px;
            
            }
    } 
    &_skills {
        justify-content: center;
        &_title {
        color: #d12032;
        font-size: 40px;
        margin-top: 40px;
        text-transform: uppercase;
        margin-bottom: 20px;
        }
        &_text {
        color: aliceblue;
        margin-bottom: 20px;
        &::before {
            content:none;
        }
        &:nth-last-of-type(1)::after {
            content: none;
            animation: none;
            }
        }
        &_line {
            display:block;
            width:55%;
            border-top: 2px solid #d12032c9;
            margin-bottom: 20px;
        }
        &_container {
            margin-top: 20px;
            &_icon {
                font-size: 18px;
            }
            &_pl {
                margin-top: 10px;
                display: grid;
                grid-template-columns: 1fr 3fr;
                grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr;
                grid-template-areas: "item1 bar1" "disc1 disc1" "item2 bar2" "disc2 disc2" "item3 bar3" "disc3 disc3";
                &_item {
                    font-style: bold;
                    font-weight: 900;
                    align-self: center;
                    justify-self: left;
                    &1 {
                        grid-area: item1;
                    }
                    &2 {
                        grid-area: item2;
                    }
                    &3 {
                        grid-area: item3;
                    }
                }
                &_bar {
                    fill: none;
                    stroke:#d12032; 
                    stroke-width: 2px;
                    align-self: center;
                    justify-self: left;
                    &1 {
                        grid-area: bar1;
                    }
                    &2 {
                        grid-area: bar2;
                    }
                    &3 {
                        grid-area: bar3;
                    }
                }
                &_disc {
                    color: rgb(47, 47, 48);
                    font-size: 14px;
                    font-style: italic;
                    &1 {
                        grid-area: disc1;
                    }
                    &2 {
                        grid-area: disc2;
                    }
                    &3 {
                        grid-area: disc3;
                    }
                }
            }
        }
    }
    &_experience {
        justify-content: center;
        &_title {
        color: #d12032;
        font-size: 40px;
        margin-top: 40px;
        text-transform: uppercase;
        margin-bottom: 20px;
        position: relative;
        }
        &_arrow--up {
            position: absolute;
            font-size: 25px;
            left: -50px;
            top: 300px;
        }
        &_arrow--down {
            position: absolute;
            left: -50px;
            font-size: 25px;
            top: 350px;
        }
        &_grid {
            display: grid;
            grid-template-columns: 2fr 5fr; 
            grid-template-rows: 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr; 
            gap: 0px 30px; 
            max-height: 500px;
            overflow: hidden;
            
            grid-template-areas: "date1 name1" ". fos1"  "date2 name2" ". fos2"  "date3 name3" ". fos3" "date4 name4" ". fos4";
             &_date {
                color:rgb(18, 18, 19);
                margin-top: 10px;
                font-style: bold;
                font-weight: 900;
                display: inline-block;
                &--1 { grid-area: date1;}
                &--2 { grid-area: date2;}
                &--3 { grid-area: date3;}
                &--4 { grid-area: date4;}
             }
             &_name {
                color:#d12032;
                font-size: 18px;
                font-weight: 600;
                margin-top: 10px;
                display: inline-block;
                &--1 { grid-area: name1;}
                &--2 { grid-area: name2;}
                &--3 { grid-area: name3;}
                &--4 { grid-area: name4;}
             }
             &_fos {
                color: rgba(26, 27, 27, 0.726);
                font-style: italic;
                margin-bottom: 5px;
                display: inline-block;
                &--1 { grid-area: fos1;}
                &--2 { grid-area: fos2;}
                &--3 { grid-area: fos3;}
                &--4 { grid-area: fos4;}
             }
        }
        &_text {
        color: aliceblue;
        margin-bottom: 20px;
        &::before {
            content:none;
        }
        &:nth-last-of-type(1)::after {
            content: none;
            animation: none;
            }
        }
        &_line {
            display:block;
            width:55%;
            border-top: 2px solid #d12032c9;
            margin-bottom: 20px;
        
        }
    }
    &_education {
        justify-content: center;
        &_title {
        color: #d12032;
        font-size: 40px;
        margin-top: 40px;
        text-transform: uppercase;
        margin-bottom: 20px;

        }
        &_grid {
            display: grid;
            grid-template-columns: 2fr 5fr; 
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
            gap: 0px 30px; 
            grid-template-areas: "date1 name1" ". fos1"  "date2 name2" ". fos2"  "date3 name3" ". fos3";
             &_date {
                color:rgb(18, 18, 19);
                margin-top: 10px;
                font-style: bold;
                font-weight: 900;
                &--1 { grid-area: date1;}
                &--2 { grid-area: date2;}
                &--3 { grid-area: date3;}
             }
             &_name {
                color:#d12032;
                font-size: 18px;
                font-weight: 600;
                margin-top: 10px;
                &--1 { grid-area: name1;}
                &--2 { grid-area: name2;}
                &--3 { grid-area: name3;}
             }
             &_fos {
                color: rgba(26, 27, 27, 0.726);
                font-style: italic;
                margin-bottom: 5px;
                &--1 { grid-area: fos1;}
                &--2 { grid-area: fos2;}
                &--3 { grid-area: fos3;}
             }
        }
        &_text {
        color: aliceblue;
        margin-bottom: 20px;
        &::before {
            content:none;
        }
        &:nth-last-of-type(1)::after {
            content: none;
            animation: none;
            }
        }
        &_line {
            display:block;
            width:55%;
            border-top: 2px solid #d12032c9;
            margin-bottom: 20px;
        
        }
    }
        

}

@keyframes fadeIn {
   
    100% {  opacity: 100%; }  
}

i {
    color: #d12032;
    fill: #d12032;
    font-size: 20px;
    margin-right: 10px;
}

.whiteRight { 
    position: fixed;
    overflow: hidden;
    left: 425px;
    top: 0;
    z-index: -20;
    &_rectangle {
        fill: #fdfdfd;
        z-index: -20;
    }
}

.redLeft { 
    position: fixed;
    overflow: hidden;
    left: 422px;
    top: 0;
    z-index: -25;
    &_rectangle {
        fill: #d12032b6;
        z-index: -25;
    }
}