.typing {
    color:aliceblue;
}

p {
    
    &::before {
        content: "> ";
    }
    &:nth-last-of-type(1)::after {
        content: "_";
        animation: underline .3s infinite alternate;
        -webkit-animation: underline .3s infinite alternate;
}
}